
<h1> Choose Upload file  (Select Columns)</h1>
<h2>Uploads, saves, parses, process the file then deletes it</h2>


<div id = "excel_upload">

</div>





<%= excel_uploadify %>



<div id = "excel_columns">

</div>