<%= content_for :head do%>

  <%= javascript_include_tag "uploadify/jquery.uploadify.v2.1.0.min", "uploadify/jquery.swfobject", "jquery-ui.min" %>

<% end %>





<div id = "photo_upload">
holaaaaa
</div>



gesge

<%= photo_uploadify %>

